install:
  - pip install .
  - pip install -r requirements.txt
  - npm install

branches:
  only:
  - master
  - stable
  - develop

language: python, node
python:
  - "3.6"
script:
  - make run
  - make test
