language: python, node
python:
- '3.6.5'
install:
- npm install
- pip install --user -r requirements.txt
branches:
  only:
  - master
  - stable
  - develop
script:
- make run&
- make test
before_install:
- openssl aes-256-cbc -K $encrypted_34882cc58842_key -iv $encrypted_34882cc58842_iv
  -in dnd-game-manager-firebase-adminsdk-34ek4-cccabd3dd6.json.enc -out dnd-game-manager-firebase-adminsdk-34ek4-cccabd3dd6.json
  -d
- cp dnd-game-manager-firebase-adminsdk-34ek4-cccabd3dd6.json ./test/dnd-game-manager-firebase-adminsdk-34ek4-cccabd3dd6.json