[Unit]
Description=DND Backend Service
After=network.target

[Service]
Type=simple
User=development
WorkingDirectory=/home/development/COS301_DND_Backend
Environment=ENV=prod
ExecStart=/usr/bin/python /home/development/COS301_DND_Backend/server/main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target