[Unit]
Description=DND Backend Service
After=network.target postgresql.service

[Service]
Type=simple
User=develop
WorkingDirectory=/home/develop/COS301_DND_Backend
Environment=ENV=prod
ExecStart=/usr/bin/pypy3 /home/develop/COS301_DND_Backend/main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target